.landing-page {
  display: flex;
  align-items: center;
  flex-direction: column;

  header {
    background-color: #dce0df;
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    width: 100%;

    .content {
      display: flex;
      justify-content: space-between;
      max-width: 1280px;
      width: 100%;

      h1 {
        font-size: 1.5rem;
      }

      button {
        background: #1a73e8;
        border: none;
        border-radius: 10px;
        color: #fefefe;
        cursor: pointer;
        margin: 0;
        padding: 5px 50px;
      }
    }
  }

  main {
    background: #f6faf9;
    max-width: 1280px;
    padding: 50px 70px;
    width: 100%;

    .main-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      .title-area {
        h1 {
          font-size: 1.5rem;
        }

        h2 {
          font-size: 1rem;
        }
      }

      .search-input {
        display: flex;
        background: #f3f3f3;
        border-radius: 10px;
        border: 2px solid #cccaca;
        width: 100%;
        max-width: 500px;

        input {
          border: none;
          background: transparent;
          width: 100%;
          padding: 10px 10px 10px 20px;
          font-size: 1rem;

          &:focus-visible {
            outline: none;

          }
        }

        button {
          background: #cccaca;
          color: #494747;
          border: none;
          cursor: pointer;
          margin-left: 10px;
          padding: 5px 10px;
          border-radius: 0 5px 5px 0;
        }
      }

      .filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 300px;

        .filter-button {
          background: #fefefe;
          border: none;
          border-radius: 10px;
          padding: 5px 10px;
          cursor: pointer;
          width: 100%;
          text-align: left;
        }
      }
    }
  }
}
